.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container {
  text-align: center;
}

.leftColumn {
  position: absolute;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}

.header__headline {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  width:100%;
}

.header__button {
  background: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}

.leftColumn__header,
.rightColumn__header {
  display: inline-block;
  background-color: #ccc;
  width:100%;
}

.rightColumn {
  position: absolute;
  width: 150px;
  height: 100vh;
  right: 0;
  top: 10;
  background-color: #EEEEEE;
  border-left: 1px dotted;
}

.tasks {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 5px auto;
  line-height: 5em;
}

